<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
<select id="getCartItems" resultType="ItemVo">
SELECT I.*
FROM CARTS C
JOIN ITEMS I ON C.ITEM_ID = I.ID
WHERE C.USER_ID = #{userId} AND C.ROOT_ID = #{rootId}
</select>

<insert id="addCart">
<selectKey keyProperty="cartId" resultType="int" order="BEFORE">
	SELECT CART_SEQ.NEXTVAL FROM DUAL
 </selectKey>
	INSERT INTO CARTS(CART_ID, ITEM_ID, ROOT_ID, USER_ID, AMOUNT, REG_DATE)
	VALUES(#{cartId}, #{itemId}, #{rootId}, #{userId}, #{amount}, SYSDATE) 
</insert>

<insert id="addOrder">
	INSERT INTO ORDERS(ID, USER_ID, ITEMS, STATUS, PRICE, REQUESTED_AT, PG, PG_NAME)
	VALUES(#{id}, #{userId}, #{items}, '결제완료', #{price}, SYSDATE, #{pg}, #{pg_name}) 
</insert>

<select id="getCartItem" resultType="CartVo">
SELECT * FROM CARTS WHERE ROOT_ID = #{rootId} AND USER_ID = #{userId} AND ITEM_ID = #{itemId}
</select>

<select id="getCarts" resultType="CartVo">
SELECT * FROM CARTS WHERE ROOT_ID = #{rootId} AND USER_ID = #{userId}
</select>

<select id="getOrderSeq" resultType="int">
SELECT ORDER_SEQ.NEXTVAL FROM DUAL
</select>

<select id="deleteCart">
DELETE FROM CARTS WHERE USER_ID = #{userId} AND CART_ID = #{cartId}
</select>

<select id="deleteCarts">
DELETE FROM CARTS WHERE USER_ID = #{userId} AND ROOT_ID = #{rootId}
</select>
</mapper>