<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemMapper">
<select id="getItemById" resultType="ItemVo">
	SELECT * FROM ITEMS_WITH_SCORE WHERE ID = #{id} 
</select>

<select id="getItems" resultType="ItemVo">
	SELECT * FROM ITEMS_WITH_SCORE	WHERE PATH LIKE '${path}%'
</select>

<update id="updateItem">
UPDATE ITEMS SET 
NAME = #{name}, IMAGE_PATH = #{imagePath}, PRICE = #{price},
DISCOUNT = #{discount}, SCORE = #{score}, CONTENT = #{content},
NUM_STOCK = #{numStock}
WHERE ID = #{id}
</update>

<delete id="deleteItem">
DELETE FROM ITEMS WHERE ID = #{id}
</delete>

<select id="getTotalRows" parameterType="map" resultType="long">
  SELECT count(*) FROM ITEMS
  WHERE PATH LIKE '${path}%'
  <if test="searchMap != null">
    <foreach collection="searchMap" item="value" index="key">
      AND ${key} LIKE '%${value}%'
    </foreach>
  </if>
</select>

<insert id="addItem">
 <selectKey keyProperty="id" resultType="int" order="BEFORE">
	SELECT ITEM_SEQ.NEXTVAL FROM DUAL
 </selectKey>
	INSERT INTO ITEMS(ID, NAME, CONTENT, PATH, IMAGE_PATH, NUM_STOCK, PRICE, DISCOUNT, USER_ID, REG_DATE, SCORE)
	VALUES(#{id}, #{name}, #{content}, #{path}, '${path}/${id}${imagePath}', #{numStock}, #{price}, #{discount}, #{userId}, SYSDATE, #{score} )
</insert>

<update id="updateNumView">
	UPDATE ITEMS SET NUM_VIEW = NUM_VIEW + 1 WHERE ID = #{id}
</update>

<select id="getItemCount" resultType="long">
    SELECT count(*) FROM ITEMS WHERE PATH LIKE '${path}%'
</select>

<insert id="addComment">
 <selectKey keyProperty="id" resultType="long" order="BEFORE">
	SELECT COMMENT_SEQ.NEXTVAL FROM DUAL
 </selectKey>
	INSERT INTO COMMENTS(ID, USER_ID, PATH, CONTENT, REG_DATE, SCORE)
	VALUES(#{id}, #{userId}, #{path}, #{content}, SYSDATE, #{score} )
</insert>

<select id="getComments" resultType="CommentVo">
    SELECT * FROM COMMENTS WHERE PATH LIKE '/${id}%'
</select>

<select id="getItemByName" resultType="ItemVO">
    SELECT * FROM ITEMS WHERE NAME = #{name}
</select>

 <select id="getRecentItems" parameterType="java.util.List" resultType="ItemVo">
   SELECT * FROM ITEMS_WITH_SCORE
   WHERE id IN
   <foreach collection="list" item="itemId" open="(" close=")" separator=",">
     #{itemId}
   </foreach>
 </select>

</mapper>