
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

</head>
<style>
  .contentFormTable td, .contentFormTable th, .contentFormTable{ 
    border:1px solid;
    border-collapse: collapse;
    padding: 5px;
  }
  .contentFormTable {
    width: 100%;
  }
  .contentTextArea {
    height:500px;
  }
</style>
<body>
  <div id="contentFormDiv"></div>
</body>
<script th:inline="javascript">
$(()=>{
  class WriteForm {
    constructor(action, item, path, pathName) {
      this.isUpdate = action === "update";
      this.div = $("<div>");
      const table = $("<table class='contentFormTable'>");
      const topTr = $(`<tr><th colspan='2'>${this.isUpdate ? "게시글 수정" : "게시글 등록"}</th></tr>`);
      const userNameTr = $(`<tr><td>작성자</td><td>${item.userName}</td></tr>`);
      const pathNameTr = $(`<tr><td>게시판 분류</td><td></td></tr>`);
      const selectTd = pathNameTr.find('td:last');
      createSelectMenu(root.id,selectTd,path);
      const titleInput = $(`<input style='width:100%; box-sizing:border-box;' value='${item.name}'>`);
      const titleTr = $(`<tr><td>글 제목</td><td></td></tr>`).find('td:last').append(titleInput).end();
      const contentInput = $(`<textarea>${item.content}</textarea>`).css({"width":"100%",resize:"none","height":"95%",boxSizing: "border-box"});
      const contentTr = $(`<tr><td  class='contentTextArea' colspan='2'></td></tr>`).find('td').append(contentInput).end();
      const button = $(`<button>${this.isUpdate ? "수정" : "등록"}</button>`).click(() => {
        if(!this.isUpdate){
          let selectedPath = "/"+path.split("/")[1];
          console.log(selectTd.find("select").length);
          selectTd.find("select").each((index, select)=>selectedPath += "/"+$(select).val());
          item.path = selectedPath;
        }
        item.content = contentInput.val();
        item.name = titleInput.val();
        console.log(item);
        $.post(this.isUpdate ? "/login/updateItem" : "/login/addItem", item).done((resData) => {
          if(resData) openContent(resData.id);
          else alert("실패");
        }).fail(error => console.error(error));
      });
      const buttonTr = $(`<tr><td colspan='2'></td></tr>`).find('td').append(button).end();
      table.append(topTr, userNameTr, pathNameTr, titleTr, contentTr, buttonTr);
      this.div.append(table);
    }
  }

  let item = /*[[${item}]]*/ null;
  let action = /*[[${action}]]*/ null;
  let pathName = /*[[${pathName}]]*/ null;
  let path = /*[[${path}]]*/ null;
  $("#contentFormDiv").append(new WriteForm(action,item,path,pathName).div);
})
</script>
</HTML>