<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>홈</title>
  </head>
  <style>
    h4 { margin:0px; padding:0px }
  </style>
  <body>
    <h1>OS-Home</h1>

  <h4>Site Map</h4>   
	<ul>
    <li> <a href="http://192.168.0.213:9092/" target="_blank" th:text="Spring-home"></a> </li>
    <li> <a href="http://192.168.0.213:8090/gm-home" target="_blank"  th:text="gm-home"></a> </li>
    <br>
	  <li th:each="root : ${roots}">
	    <a th:href="|/page/${root.id}|" th:text="${root.name}"></a>
	  </li>
	</ul>

  <h4 th:if="${session.user != null}" th:text="|User Name : ${session.user.name}|"></h4>
  <ul>
    <li>
    <a th:if="${session.user == null}" th:href="@{/user/loginForm}">로그인</a>
    <a th:if="${session.user != null}" th:href="@{/user/logout}">로그아웃</a></li>
    <li th:if="${session.user == null}"><a href="/user/signUpForm">회원가입</a></li>
    <li><a href="/login/myPage">주문내역</a></li>
  </ul> 
  </body>
  
  <script th:inline="javascript">
  </script>
  <style>
  </style>
</html>
