<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>T-Market</title>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>

</style>
</head> 
<body>

</body>
<script th:inline="javascript">
  $(()=>{
    const items = /*[[${items}]]*/ null;
    const root = /*[[${root}]]*/ null;
  });
</script>

</html>